{% extends "base_site.html" %}

{% block content %}
<!-- {% include "header_basic.html" %} -->

<div class="wrapper d-flex align-items-stretch" style="min-height: 100vh; max-height: max-content;">

    {% include "sidebar.html" %}

    <div class="bg-white w-100 p-3" style="overflow-y: auto;">

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">Warehouse</li>
              <li class="breadcrumb-item"><a href="{% url 'marking' %}">Marking</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
        <div style="display: flex; justify-content: space-between;">
            <h3 class="p-1"> Edit Marking </h3>
        </div>
        <div class="border-top m-0 mb-3"></div>

        <div class="card w-75 shadow">
        <div class="card-body">
        <form action="{% url 'marking_edit' marking.id %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="form-label" required>Name</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ marking.name }}">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control" name="description">{{ marking.description }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        </div>
        </div>
    </div>
</div>



{% endblock %}